## API Service URLs
VITE_FORENSICS_API_URL=http://localhost:8083
VITE_MOCK_API_URL=http://localhost:9001
VITE_EVENT_STORE_URL=http://localhost:8081

## App Config
VITE_APP_NAME=API Vault
VITE_APP_VERSION=1.0.0

## Optional: Basic Auth for Forensics API
# VITE_FORENSICS_USERNAME=user
# VITE_FORENSICS_PASSWORD=pass
